.ipynb_checkpoints
autoencoder/convolutional-autoencoder/data/
autoencoder/denoising-autoencoder/data/
autoencoder/linear-autoencoder/data/
weight-initialization/__pycache__/
weight-initialization/data/
project-dog-classification/dogImages/
project-dog-classification/lfw/
