.ipynb_checkpoints
__pycache__/
autoencoder/convolutional-autoencoder/data/
autoencoder/denoising-autoencoder/data/
autoencoder/linear-autoencoder/data/
weight-initialization/__pycache__/
weight-initialization/data/
project-dog-classification/dogImages/
project-dog-classification/lfw/
Project-bikesharing/__pycache__/
Project-bikesharing/.ipynb_checkpoints/
Project-bikesharing/jwt
Project-bikesharing/.gitignore
word2vec-embeddings/data/text8
project-tv-script-generation/trained_rnn.pt
gan-mnist/data/
gan-mnist/train_samples.pkl
